body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #13c1df;
}


input[type="number"] {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 2px solid black ;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #f18973;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #77b31c;
}

#timerDisplay {
    font-size: 48px;
    color: #4e0be0;
    margin-top: 20px;
}
